<div class="footer">
  <div class="medias" >
    <a href="https://www.linkedin.com/in/jesie-cabaneros-53a03916b/" target="_blank" rel="noopener noreferrer">
      <span class="iconify" data-icon="entypo-social:linkedin-with-circle" data-inline="false"></span>
    </a>
    <a href="https://www.facebook.com/jesie.cabaneros/" target="_blank" rel="noopener noreferrer">
      <span class="iconify" data-icon="mdi:facebook" data-inline="false"></span>
    </a>
    <a href="https://github.com/j3sie" target="_blank" rel="noopener noreferrer">
      <span class="iconify" data-icon="el:github" data-inline="false"></span>
    </a>
  </div>
  <label style="color: white; "> made with ❤️ by Jesie</label> <br>
  <label style="color: white; "> © 2021</label>
</div>
