<div class="project-panel">
  <div class="content maxWidth">
    <h1 class="head-title">Projects</h1>
    <div class="project-holder">
      <div class="project-card">
        <h4 style="margin: 10px 0 0 0;">Muuvment</h4>
        <p style=" margin: 0">Turns your social impact mission into a media rich campaign with actions that generate measurable and meaningful impact.</p>
        <img style="position: absolute; right: -130px; bottom: -30px; border-radius: 37px;" src="../../assets/img/muuv.jpg" width="420" alt="" srcset="">
      </div>

      <div class="project-card">
        <h4 style="margin: 10px 0 0 0;">Baterya.Ph</h4>
        <p style=" margin: 0">ecommerce </p>
        <img style="position: absolute; right: -130px; bottom: -30px; border-radius: 37px;" src="../../assets/img/baterya.jpg" width="420" alt="" srcset="">
      </div>

      <div class="project-card">
        <h4 style="margin: 10px 0 0 0;">bevcity</h4>
        <p style=" margin: 0">ecommerce for beverages</p>
        <img style="position: absolute; right: -130px; bottom: -30px; border-radius: 37px;" src="../../assets/img/inom.jpg" width="420" alt="" srcset="">
      </div>
    </div>
  </div>
  </div>
