<div class="project-panel">
  <div class="content maxWidth">
    <h1 class="head-title">Projects</h1>
    <div class="project-holder">
      <div class="project-card">
        <h4 style="margin: 10px 0 0 0;">Muuvment <span style="font-size: 12PX; color: #525252; font-family: 'Lato-Light';">/ Web Application</span> </h4>
        <p style="    margin: .5rem 0;
        color: rgb(0, 0, 0);
        font-size: .8rem;
        font-family: 'Lato-Bold';">
          <span>Angular | GraphQl | Apollo | Rest API</span>
        </p>
        <img  class="proj-ss"  src="../../assets/img/muuv.jpg" width="420" alt="" srcset="">
      </div>

      <div class="project-card">
        <h4 style="margin: 10px 0 0 0;">Baterya.Ph <span style="font-size: 12PX; color: #525252; font-family: 'Lato-Light';">/ E-commerce</span> </h4>
        <p style="
        margin: .5rem 0;
        color: rgb(0, 0, 0);
        font-size: .8rem;
        font-family: 'Lato-Bold';">
          <span>Magento | Php | MySql</span>
        </p>
        <img  class="proj-ss"  src="../../assets/img/baterya.jpg" width="420" alt="" srcset="">
      </div>

      <div class="project-card">
        <h4 style="margin: 10px 0 0 0;">Bevcity <span style="font-size: 12PX; color: #525252; font-family: 'Lato-Light';">/ E-commerce</span></h4>
        <div style="
        margin: .5rem 0;
        color: rgb(0, 0, 0);
        font-size: .8rem;
        font-family: 'Lato-Bold';">
        <span>Vue.js | SendinBlue | Nexmo | Express </span>
      </div>
        <img class="proj-ss"  src="../../assets/img/inom.jpg" width="420" alt="" srcset="">
      </div>
    </div>
  </div>
  </div>
