.dashboard-cont {
  background: rgba(60, 174, 163, 0.69);
  position: relative;
  overflow: hidden;
}
.dashboard-cont::before{
  content: '';
  position: absolute;
  width: 924.29px;
  height: 871.01px;
  right: -200px;
  bottom:-210px;
  background-image: url('../../../assets/img/blob-1.svg');
}
.dashboard-cont::after{
  content: '';
  position: absolute;
  width: 700PX;
  height: 611.64px;
  right: 250px;
  bottom:-100px;
  z-index: 2;
  background-image: url('../../../assets/img/blob2.svg');
}
.dash-wrapper{
  height: 791px;
  padding: 1rem;
  position: relative;
}

.profile{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 3;
  width: 523px;
}
.card{
  z-index: 1;
  position: absolute;
  top: 200px;
  padding: 17px 22px;
  right: 24rem;
  background: #fff;
  margin: 0 auto;
  border-radius: 11px;
  display: flex;
  align-items: center;
}
.card .wave {
  font-size: 3.5rem;
}
.card .name {
  margin-left:  1rem;
}
.card .name label {
  font-size: 18px;
}
.card h4 {
  margin: 0;
  font-size: 4rem;
  letter-spacing: .1rem;
  font-family: 'Lato-Black';
}

.card.card-1 {
  top: 21.3rem;
  right: 22.4rem ;
  z-index: 3;
}
.card.card-1 label{
font-size: 1.5rem;
}
.desc-panel{
  position: absolute;
  bottom: 3rem; z-index: 4;
}
.desc-panel .sm-desc{
  font-family: 'Lato-Regular';
  font-size: 24px;
  max-width: 621px;
}
.contact-btn{
  width: 165px;
  height: 51.84px;
  background: #F6D55C;
  border: none;
  box-shadow: 0px 4px 4px #ED553B;
  border-radius: 44.5px; font-size: 18px;
  margin: 3px 10px 0 0 ;
}
.jc{
  height: 48rem;
  width: 48rem;
  position: absolute;
  left: -80px;
  transform: rotate(-22deg);
}
a{
  text-decoration: none;
  color: unset;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 375px) {

  .card{
    right: unset !important;
  }
  .card.card-1{
    right: unset !important;
  }

}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .dash-wrapper{
    height: 600px;
  }
  .profile{
    width: 392px;
    right: -103px;
  }
  .card{
    right: 12rem;
  }
  .card .wave{
    font-size: 1.5rem;
  }
  .card .name label {
    font-size: 14px;
  }
  .card h4 {
    font-size: 2rem;
  }
  .card.card-1{
    right: 12rem;
    top: 19rem;
    z-index: 4;
  }
  .card.card-1 label{
    font-size: 1rem;
  }
  .desc-panel .sm-desc{
    font-size: 18px;
    max-width: 95%;
    color: white;
  }
  .dashboard-cont::before{
    right: -346px;
    width: 719.29px;
  }
  .dashboard-cont::after{
    width: 656PX;
    right: -262px;
  }
  .jc{
    left: 0;
    height: 18rem;
    width: 18rem;

  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
