<div class="comp-panel" style="    background: #e4e4e4;">
  <div class="content maxWidth">
    <h1 class="head-title">Companies</h1>
    <div class="project-holder">
      <div class="comp-card" style="display: flex; align-items: center;     flex-wrap: wrap;    justify-content: space-around;">
        <div>
          <a href="https://hyperstacksinc.com/" target="_blank" rel="noopener noreferrer">
            <img style="width: 238px;" src="../../../assets/img/logo/hyperstacks-logo-orange.svg" alt="" srcset="">
          </a> </div>
        <div>
        <a href="http://apexdevelopers.ca/" target="_blank" rel="noopener noreferrer">
          <img style="width: 74px;"  src="../../../assets/img/logo/apexdev.png" alt="" srcset="">
        </a></div>
        <div> <a href="https://www.muuvment.com/" target="_blank" rel="noopener noreferrer">
        <img style="width: 328px;" src="../../../assets/img/logo/muuvment_h.svg" alt="" srcset=""></a>
      </div>
      <div>
        <a href="https://wearetraction.io/" target="_blank" rel="noopener noreferrer">
          <img style="width: 238px;" src="../../../assets/img/logo/traction.svg" alt="" srcset="">
        </a></div>
    </div>
  </div>
  </div>
